{% extends 'ejemplo/base_vehiculos.html' %}
{% block contenido %}
<a href="/mi-vehiculo/alta">Agregar Nuevo Vehiculo</a>
{% for vehiculo in lista_vehiculos %}
<ul>
    <li> Modelo: {{vehiculo.modelo}}, Marca: {{vehiculo.marca}}, Año: {{vehiculo.año}}
        <!-- Esto agrega un link al form de actulización-->
        <a href='actualizar/{{ vehiculo.id }}'>Actualizar</a>
        <a href='borrar/{{ vehiculo.id }}'>Borrar</a>
    </li>
</ul>
{% endfor %}
{% endblock %}

{% block titulo%}
Lista de todos mis Vehiculos
{% endblock %}